{{< notice info >}}
This is a very good information.
{{< /notice >}}

{{< notice note >}}
This is a very good note.
{{< /notice >}}

{{< notice tip >}}
This is a very good tip.
{{< /notice >}}

{{< notice warning >}}
This is a warning notice. Be warned!
{{< /notice >}}
