#posts {
    display: flex;
    flex-wrap: wrap;

    .grid-item {
        width: 25%;
        min-width: 250px;
        margin: 10px;
    }
    @media (max-width: 767px) {
        .grid-item {
            width: 50%;
        }
    }
    @media (max-width: 480px) {
        .grid-item {
            width: 100%;
        }
    }
}
