#posts {
    display: flex;
    flex-wrap: wrap;

    .grid-item {
        width: 25%;
        min-width: 250px;
        margin: 10px;
    }
    @media (max-width: 767px) {
         #posts {
            display: flex;
            justify-content: center;
        }
        .grid-item {
            width: 50%;
            max-width: 300px;
        }
    }
    @media (max-width: 480px) {
        .grid-item {
            width: 100%;
        }
    }
}

img {
    widht: 100%;
    height: 100%;
}
