{{ define "main" }}

<br>
&nbsp;
<br>
<div class="section narrow" >
<div class="row">
  
  <div class="column">
  <script src="https://gumroad.com/js/gumroad-embed.js"></script>
<div class="gumroad-product-embed"><a href="https://gumroad.com/l/nIgIr">Gadient Wallpaper Pack 1 is Loading...(Click here if not loaded)</a></div>
  </div>
  
  <div class="column">
    <script src="https://gumroad.com/js/gumroad-embed.js"></script>
<div class="gumroad-product-embed"><a href="https://gumroad.com/l/OFKKu">Gradient Wallpaper Pack 2 is Loading...(Click here if not loaded)</a></div>
  </div>
  
  <div class="column">
  
  </div>
</div>
</div>
<br>
&nbsp;
<br>

<style>
  .column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
  @media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
</style>
{{ end }}
