#loader{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #000000 url('/images/preloader.gif') no-repeat center;
	z-index: 999;
}

img {
  	width: 100% !important;
  	height: auto !important;
{
