/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #6320d6 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #6320d6;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

  img {
    width:100%;
    height:auto;
  }

#webmentions {
    margin: 0;
    position: relative;
    z-index: 100;
    line-height: 1.2em;
}

#webmentions .comments {
    max-height: 20em;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 80%;
}

#webmentions h2 {
    font-size: medium;
    margin: 0;
    padding: 2px;
    background: #ccc;
}

#webmentions .reacts img {
    width: 60px;
    height: 60px;
    margin: 3px -1ex 1px 0;
}

#webmentions ul {
    list-style-type: none;
    margin: 0;
    padding: 4px;
}

#webmentions li {
    text-indent: -1em;
    padding-left: 1em;
}

#webmentions a.reaction {
    position: relative;
    text-decoration: none;
    text-shadow: 0px 0px 3px white;
    margin-right: 0;
    letter-spacing: -1ex;
    margin-right: 1ex;
}

#webmentions a.reaction img {
    width: 32px;
    height: 32px;
    margin-right: -1ex;
    border-radius: 25%;
}

#webmentions a.reaction sub {
    font-size: 50%;
}

#webmentions .comments li {
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

#webmentions .comments li .text {
    color: #555;
    font-style: italic;
    text-decoration: none;
}

#webmentions .comments li .name {
    color: #111;
}
.webmention .author {
    margin-right: 1em;
}

.webmention .author img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.webmention .author span {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.webmention .content {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    flex-grow: 1;
}

