<section class="py-24 position-relative">
  <div class="container">
    <div class="bg-dark py-20 px-4">
      <div class="mw-2xl mx-auto mb-8 text-center">
        <span class="text-uppercase fw-bold text-muted">New feature</span>
        <h1 class="mt-2 mb-6 text-white lh-sm font-heading">
          <span>Take</span>
          <span class="text-primary">quick action</span>
          <span>that increases your brand's regular profit.</span>
        </h1>
        <p class="text-white lh-lg">If you have ever wondered how to develop your brand, this is the place for you. Take a big step forward in growing your business with this great tool.</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-auto mb-3 mb-md-0"><a class="btn btn-primary w-100" href="#">Activate Demo</a></div>
        <div class="col-12 col-md-auto"><a class="btn btn-outline-primary w-100 text-white" href="#">Share with friends</a></div>
      </div>
    </div>
  </div>
  <div class="p-20 p-md-40 position-absolute top-0 end-0 bg-primary-light" style="z-index: -1;"></div>
  <div class="p-20 p-md-40 position-absolute bottom-0 start-0 bg-warning-light" style="z-index: -1;"></div>
</section>
