<style>
  /* -------------------------------- 

File#: _1_newsletter
Title: Newsletter 
Descr: Newsletter form template
Usage: codyhouse.co/license

-------------------------------- */
.newsletter {
  position: relative;
  z-index: 1;
}
</style>


<section class="newsletter padding-y-xl text-center">
  <div class="container max-width-xs">
    <div class="text-component margin-bottom-md">
      <h2>Join our Newsletter</h2>
      <p>Get our monthly recap with the latest news.</p>
    </div>

    <form class="grid gap-xxs">
      <div class="col@xs min-width-0">
        <input class="form-control width-100% height-100%" aria-label="Email" type="email" placeholder="Email address">
      </div>

      <div class="col-content@xs">
        <button class="btn btn--primary width-100% height-100%">Subscribe</button>
      </div>
    </form>

    <p role="alert" class="bg-success bg-opacity-20% text-sm padding-xs radius-md margin-top-xs"><strong>Success!</strong> Please check your inbox for a confirmation email.</p>

    <div class="margin-top-xs">
      <small class="text-xs color-contrast-medium">By subscribing you agree to our <a class="color-contrast-high" href="#0">privacy policy</a>.</small>
    </div>
  </div>
</section>
