<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
<script>
  window.formbutton = window.formbutton || function() {
    (formbutton.q = formbutton.q || []).push(arguments)
  };
  formbutton("create", {
    action: "https://formspree.io/f/alunje73@gmail.com",
    buttonImg: "<i class='fa fa-comment' style='font-size:30px'/>",
    title: "Contact Me!",
    theme: "minimal",
    fields: [{
        name: "name",
        type: "text",
        label: "Your Name",
        required: true,
      },
      {
        name: "email",
        type: "email",
        label: "Your Email",
        required: true
      },
      {
        name: "Message",
        type: "textarea"
      },
      {
        type: "submit"
      }
    ],
    styles: {
      fontFamily: '"Poppins", san-serif',
      button: {
        background: "#6320D6"
      },
      title: {
        background: "#6320D6",
      }
    },
  })
</script>
