<div style="display: inline-block;">
{{ if .PrevInSection }}
              <div align="left">←<span class="small">Prev post</span><h5 class="title"><a class="text-dark" href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title | truncate 10 }}...</a></h5></div>
          {{ end }}
          
{{ if .NextInSection }}
              <div align="right">→<span class="small">Next post</span><h5 class="title"><a class="text-dark" href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title | truncate 10 }}...</a></h5></div>
             
          {{ end }}
</div>
