
<div class="product blog-page__item">
  <h2 class="product__name text-dark">{{ .name }}</h2>
  <img class="product__image blog-page__item-thumb" src="{{ .image }}" alt="">
  <p class="product__description blog-page__item-content bg-white">{{ .description }}</p>
  <div class="product__button-container">
    <div class="product__price blog-page__item-content bg-white">${{ .price }}</div>
    <button
      class="snipcart-add-item buy-button"
      data-item-id="{{ .id }}"
      data-item-name="{{ .name }}"
      data-item-price="{{ .price }}"
      data-item-url="{{ .product_url }}"
      data-item-description="{{ .description }}">
      Add to cart
    </button>
  </div>
</div>
