
<div class="product card" style="width: 18rem;">
  <img class="product__image card-img-top" src="{{ .image }}" alt="">
  <div class="card-body">
  <h2 class="product__name card-title">{{ .name }}</h2>
  <p class="product__description card-text">{{ .description }}</p>
  <div class="product__button-container">
    <div class="product__price card-subtitle mb-2 text-muted">${{ .price }}</div>
    <button
      class="snipcart-add-item buy-button btn btn-primary"
      data-item-id="{{ .id }}"
      data-item-name="{{ .name }}"
      data-item-price="{{ .price }}"
      data-item-url="{{ .product_url }}"
      data-item-description="{{ .description }}">
      Add to cart
    </button>
  </div>
</div>
</div>
