{{ $blogPosts := where .Site.RegularPages "Type" "blog" }}
{{ $related := &blogposts.Related . | first 3 }}
			{{ with $related }}
			<h4>Related Articles</h4>
<div class="row">
			{{ range . }}
			<div class="col-lg-4">
				<div class="blog-preview__item">
					<div class="blog-preview__item-thumb">
						<a href="{{ .Permalink }}"><img src="{{ .Params.hero }}" alt="featurepost-image"></a>
					</div>
					<div class="blog-preview__item-content bg-white">
						<span class="small">{{ .PublishDate.Format "January 2, 2006" }}</span>
						<h5 class="mb-0">
							<a class="text-dark" href="{{ .Permalink }}">{{ .Title }}</a>
						</h5>
					</div>
				</div>
			</div>
			{{ end }}
		</div>
		{{ end }}
		{{ end }}
