<style>
  .productcolumn {
  float: left;
  width: 33.33%;
}

.productrow:after {
  content: "";
  display: table;
  clear: both;
}
  
@media screen and (max-width: 600px) {
  .productcolumn {
    width: 100%;
  }
}
</style>

<section class="section store">
<div class="testimonial__background_shape">
        <svg viewBox="0 0 1920 79">
            <path d="M0 0h1920v79L0 0z" data-name="Path 1450" />
        </svg>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-6 offset-lg-3">
                <div class="testimonial__header">
                    <span class="top-title">Store</span>
                  <h2>My Products</h2>
                </div>
            </div>
        </div>

<div class="productrow">
  
  <div class="productcolumn">
  <script src="https://gumroad.com/js/gumroad-embed.js"></script>
<div class="gumroad-product-embed"><a href="https://gumroad.com/l/EEnXP" type="button" class="btn btn-lg btn-primary btn-zoom">Buy Gradient Wallpaper(8K HQ) 3.0 Pack</a></div>
  </div>
  
  <div class="productcolumn">
    <script src="https://gumroad.com/js/gumroad-embed.js"></script>
<div class="gumroad-product-embed"><a href="https://gumroad.com/l/OFKKu" type="button" class="btn btn-lg btn-primary btn-zoom">Buy Gradient Wallpaper(LQ) 2.0 Pack</a></div
  </div>
  
  <div class="productcolumn">
    <script src="https://gumroad.com/js/gumroad-embed.js"></script>
<div class="gumroad-product-embed"><a href="https://gumroad.com/l/nIgIr" type="button" class="btn btn-lg btn-primary btn-zoom">Buy Gradient Wallpaper(LQ) 1.0 Pack</a></div
  </div>
</div>
    </section>
