<div class="container">
  <h2 class="text-center my-3">Webmentions</h2>
  <ul id="webmentions-list" class="list-group">
  </ul>
  <script src="/static/js/webmention-client.js"></script>
  <script>
      const webmentionClient = new WebmentionClient();
      webmentionClient.getWebmentions("https://yourwebsite.com/your-post").then(webmentions => {
          let webmentionsList = document.getElementById("webmentions-list");
          webmentions.forEach(webmention => {
            let li = document.createElement("li");
            li.innerHTML = webmention.content;
            li.classList.add("list-group-item")
            webmentionsList.appendChild(li);
          });
      });
  </script>
</div>
