<div class="container">
  <div id="webmentions"></div>
</div>

<script>
  webmention.render("https://stephenajulu.com", "webmentions", {
  template: function (props) {
    return `
        <div class="media mb-3">
            <img src="${props.author.photo}" class="align-self-center mr-3" style="width:64px;object-fit:contain">
            <div class="media-body">
                <h5 class="mt-0">${props.author.name}</h5>
                <p>${props.content}</p>
                <a href="${props.url}" class="btn btn-primary">View Comment</a>
            </div>
        </div>
    `;
}
  });
</script>
