<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Page Information
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Links | {{ .Site.Title }} &middot; {{ $.Site.Params.strapline }}</title>
  <meta name="description" content="Here are all links and ways you can find me online">
  <meta name="author" content="Stephen Ajulu">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{{ "<!-- Newsletter Form Stylesheet -->" | safeHTML }}
{{ $normalize2css := resources.Get "css/normalize2.css" | minify }}
<link href="{{ $normalize2css.Permalink }}" rel="stylesheet" />
	
{{ "<!-- Newsletter Form Stylesheet -->" | safeHTML }}
{{ $skeletondark2css := resources.Get "css/skeleton-dark2.css" | minify }}
<link href="{{ $skeletondark2css.Permalink }}" rel="stylesheet" />
	
{{ "<!-- Newsletter Form Stylesheet -->" | safeHTML }}
{{ $brands2css := resources.Get "css/brands2.css" | minify }}
<link href="{{ $brands2css.Permalink }}" rel="stylesheet" />

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="column" style="margin-top: 5%">

        <!-- 

          ## Getting Started with LittleLink

          This page has been built with every pre-designed button available in LittleLink by default. You can rearrange and delete as needed.

          You can add your own brand or others brands you may need in the `css/brands.css` file. 

          Edit the "Your Image Here" section to add your own personal branding, like a picture of yourself or your brand logo!

          Edit the "Your Name" section to change the page heading. You can use something like your name, your social handle, or your brand name.

          Edit the "Short Bio" section tell users about yourself or your brand.

        -->

        <!-- Your Image Here -->
        <img src="images/author.jpg" srcset="images/author@2x.jpg 2x" alt="Stephen Ajulu Picture" width="100px" style="border-radius: 50%;">

        <!-- Your Name -->
        <h1 style="font-size: 2em;">Stephen Ajulu</h1>

        <!-- Short Bio -->
        <p><strong>Designer, Developer, Writer & Creator<br>My Links</strong></p>
        
	        
	      
	<!-- Socials 
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}&quote={{ .Title }}%20-%20{{ .Site.Title }}" class="umami--click--facebooksharer{{ replaceRE "(\\s)" "" .Title }}-button" target="_blank" title="Share on Facebook" style="display:inline-block;vertical-align:middle;width:2em;height:2em;border-radius:50%;box-shadow:.1em .1em 0.5em rgba(0,0,0,.3);background:#3b5998;">
		<svg style="display:block;fill:#fff;height:44%;margin:28% auto;" viewBox="0 -256 864 1664">
			<path transform="matrix(1,0,0,-1,-95,1280)" d="M 959,1524 V 1260 H 802 q -86,0 -116,-36 -30,-36 -30,-108 V 927 H 949 L 910,631 H 656 V -128 H 350 V 631 H 95 v 296 h 255 v 218 q 0,186 104,288.5 104,102.5 277,102.5 147,0 228,-12 z" />
		</svg>
	</a>
	<a href="https://twitter.com/intent/tweet/?text={{ .Title }}&amp;url={{ .Permalink }}&via=stephenajulu&amp;hashtags={{ .Params.tags }}" class="umami--click--twittersharer{{ replaceRE "(\\s)" "" .Title }}-button" target="_blank" title="Tweet on Twitter" style="display:inline-block;vertical-align:middle;width:2em;height:2em;border-radius:50%;box-shadow:.1em .1em 0.5em rgba(0,0,0,.3);background:#1b95e0;">
		<svg style="display:block;fill:#fff;height:36%;margin:32% auto;" viewBox="0 -256 1576 1280">
			<path transform="matrix(1,0,0,-1,-44,1024)" d="m 1620,1128 q -67,-98 -162,-167 1,-14 1,-42 0,-130 -38,-259.5 Q 1383,530 1305.5,411 1228,292 1121,200.5 1014,109 863,54.5 712,0 540,0 269,0 44,145 q 35,-4 78,-4 225,0 401,138 -105,2 -188,64.5 -83,62.5 -114,159.5 33,-5 61,-5 43,0 85,11 Q 255,532 181.5,620.5 108,709 108,826 v 4 q 68,-38 146,-41 -66,44 -105,115 -39,71 -39,154 0,88 44,163 Q 275,1072 448.5,982.5 622,893 820,883 q -8,38 -8,74 0,134 94.5,228.5 94.5,94.5 228.5,94.5 140,0 236,-102 109,21 205,78 -37,-115 -142,-178 93,10 186,50 z" />
		</svg>
	</a>
	<a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{.Permalink}}&amp;title={{.Title}}&amp;summary={{ .Summary }}&amp;source={{.Permalink}}" class="umami--click--linkedinsharer{{ replaceRE "(\\s)" "" .Title }}-button" target="_blank" title="Share on LinkedIn" style="display:inline-block;vertical-align:middle;width:2em;height:2em;border-radius:50%;box-shadow:.1em .1em 0.5em rgba(0,0,0,.3);background:#0077b5;">
		<svg style="display:block;fill:#fff;height:42%;margin:29% auto;" viewBox="0 -256 1536 1468">
			<path transform="matrix(1,0,0,-1,0,1132)" d="M 349,911 V -80 H 19 v 991 h 330 z m 21,306 q 1,-73 -50.5,-122 Q 268,1046 184,1046 h -2 q -82,0 -132,49 -50,49 -50,122 0,74 51.5,123 51.5,48 134.5,48 83,0 133,-48 50,-49 51,-123 z M 1536,488 V -80 h -329 v 530 q 0,105 -40,164.5 Q 1126,674 1040,674 977,674 934.5,639.5 892,605 871,554 860,524 860,473 V -80 H 531 q 2,399 2,647 0,248 -1,296 l -1,48 H 860 V 767 h -2 q 20,32 41,56 21,24 56.5,52 35.5,28 87.5,43.5 51,15.5 114,15.5 171,0 275,-113.5 Q 1536,707 1536,488 z" />
		</svg>
	</a>
	      <br>
	End of Socials -->
	      
	      

        <!--

          ## Breaking down <a> attributes:
          
          1.) class="button button-default" | The first "button" here is telling this <a> tag that it should make this element a button and applies the default styling in `css/brands.css`.
          The second portion, button-default, is declaring the specific brand style you would like to apply. Here we're applying the "default" style and color.
          If you want to make this button to use the brand colors for Discord, just change "button-default" to "button-discord". Brands are found in `css/brands.css`. You can always edit & add your own there.

          2.) Replace the # in href="#" with the desired target URL for the button.

          3.) target="_blank" | This attribute opens links in a new tab. Remove this attribute to prevent links from opening in a new tab.

          4.) rel="noopener" | This attribute instructs the browser to navigate to the target resource without granting the new browsing context access to the document that opened it.
          This is especially useful when opening untrusted links. https://developer.mozilla.org/en-US/docs/Web/HTML/Link_types/noopener

          ## Breaking down the <img> attributes:
          
          1.) class="icon" | This class is telling the <img> tag that it should use the styling for icons found in `css/brands.css`.

          2.) src="icons/[icon_name].svg" | This defines the icon you would like to display from the icons/ folder. For example, you can change this to src="icons/discord.svg" to use the Discord icon.
          Add your own 24x24 icons to the "icons" folder to reference them. We recommend providing a SVG.

          3.) alt="Example Logo" | This alt attribute helps provides alternate text for an image, this can assist users who use screen readers. 

        -->
	      
	<!-- Consult and Order -->
	<a class="button button-messenger" href="https://stephenajulu.com/contact" target="_blank" re="noopener">Contact →</a>
        <br>
        
	<!-- Blog Posts -->
	{{ range first 1 (where $.Site.RegularPages "Type" "blog") }}
        <a class="button button-default" href="{{ .Permalink }}" target="_blank" re="noopener" title="{{ .Title }}">Read The Latest Article</a>
        <br>
	{{ end }}
	      
        <!-- Personal Website -->
        <a class="button button-default" href="https://stephenajulu.com" target="_blank" re="noopener"><img class="icon" src="icons/website.svg" alt="Website Icon">Visit My Website</a>
        <br>
        
        <!-- Blog 
        <a class="button button-default" href="https://stephenajulu.com/blog" target="_blank" re="noopener"><img class="icon" src="icons/blog.svg" alt="Blog Icon">Read The Blog</a>
        <br> -->
        
        <!-- Store -->
        <a class="button button-default" href="https://stephenajulu.com/store" target="_blank" re="noopener"><img class="icon" src="icons/shop.svg" alt="Shop Icon">Check Out My Store</a>
        <br>
        
        <!-- Newsletter -->
        <a class="button button-default" href="https://stephenajulu.com/#newsletter" target="_blank" re="noopener"><!--<img class="icon" src="icons/newsletter.svg" alt="Newsletter Icon">-->Subscribe To My Newsletter</a>
        <br>
        
        <!-- Email
        <a class="button button-default" href="mailto:alunje73@gmail.com" target="_blank" rel="noopener"><img class="icon" src="icons/email.svg" alt="Email Icon">Email</a>
          <br>    
	      
        <!-- Instagram 
        <a class="button button-instagram" href="https://instagram.com/stephenajulu" target="_blank" rel="noopener"><img class="icon" src="icons/instagram.svg" alt="Instagram Logo">Instagram</a>
          <br>


        <!-- Facebook Messenger
        <a class="button button-messenger" href="https://m.me/stephenajulu" target="_blank" rel="noopener"><img class="icon" src="icons/messenger.svg" alt="Facebook Messenger Logo">Chat on Messenger</a>
          <br>   

        <!-- YouTube 
        <a class="button button-youtube" href="https://www.youtube.com/channel/UC043ZXL-t3yqtgcIxJmkHuA?view_as=subscriber" target="_blank" rel="noopener"><img class="icon" src="icons/youtube.svg" alt="YouTube Logo">YouTube</a>
          <br> 
        
        <!-- Github 
        <a class="button button-github" href="https://github.com/stephenajulu" target="_blank" rel="noopener"><img class="icon" src="icons/github.svg" alt="GitHub Logo">GitHub</a>
          <br>

        <!-- Medium 
        <a class="button button-medium" href="https://stephenajulu.medium.com" target="_blank" rel="noopener"><img class="icon" src="icons/medium.svg" alt="Medium Logo">Medium</a>
          <br>               

        <!-- Telegram 
        <a class="button button-telegram" href="https://t.me/stephenajulu" target="_blank" rel="noopener"><img class="icon" src="icons/telegram.svg" alt="Telegram Logo">Telegram</a>
          <br>          

        <!-- PayPal
        <a class="button button-paypal" href="https://www.paypal.com/donate/?hosted_button_id=SLNMRAJ59LRC8" target="_blank" rel="noopener"><img class="icon" src="icons/paypal.svg" alt="PayPal Logo">PayPal</a>
        <br>
        
        <!-- Buy Me A Coffee
        <a class="button button-github" href="https://buymeacoffee.com/stephenajulu" target="_blank" rel="noopener"><img class="icon" src="icons/buymeacoffee.svg" alt="Buy Me A Coffee Logo">Buy Me A Coffee</a>
        <br>
        
        <!-- WhatsApp -->
        <!--<a class="button button-whatsapp" href="https://wa.me/+254726024210" target="_blank" rel="noopener"><img class="icon" src="icons/whatsapp.svg" alt="WhatsApp Logo">WhatsApp</a>
        <br>-->
        
        <!-- Github 
        <a class="button button-github" href="https://stephenajulu.com/feed.xml" target="_blank" rel="noopener"><img class="icon" src="icons/rss.svg" alt="RSS Icon">Feed</a>
        <br>
        
        <!-- Affiliate Marketing 
	      
	<a class="button button-universal" href="https://unstoppabledomains.pxf.io/qnXOv5">Unstoppable Domains</a>
	<br>
	      
        <a class="button button-universal" href="https://www.jadeblack.co/?ref=kuzqn53jomp-">10% Off JadeBlack Eyewear</a>
        <br>
        
        <a class="button button-universal" href="https://santaluciafragrance.com/?ref=kuzqn53jomp-">10% Off Santa Lucia Fragrance</a>
        <br>
          
        <a class="button button-universal" href="https://www.esntls.co/?ref=kuzqn53jomp-">10% Off ESNTLS Clothing</a>
        <br>
	      
	<a class="button button-universal" href="https://www.amazon.com/?&_encoding=UTF8&tag=stephenajulu-20&linkCode=ur2&linkId=bd4b7207444320b149d2437e9e3b0622&camp=1789&creative=9325">Amazon Discount</a>
        <br>
	      
	<a class="button button-universal" href="https://ulxstore.com/?ref=kuzqn53jomp-">15% Off ULX Store</a>
	<br>
	      
	<a class="button button-universal" href="https://accounts.binance.com/en/register?ref=CL2JFAB6">Register For Binance & Get 5%</a>
	<br>-->
        
	      

					<ul class="unstyle-list" style="display: inline;">
						{{ $social := .Site.Params.social }}
						{{ range $social }}
						<li class="d-inline-block mx-2"><a class="text-light" target="_blank" href="{{ .url }}" rel="me"><i
									class="fa {{ .icon }}"></i></a>
						</li>
						{{ end }}
					</ul>
	      
	      
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
