<form class="form-horizontal" method="POST" data-netlify="true" action="/thankyou">
<fieldset>

<!-- Form Name -->
<legend>Contact Me</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="yourname">Your Name</label>  
  <div class="col-md-6">
  <input id="yourname" name="yourname" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="youremail">Your Email</label>  
  <div class="col-md-6">
  <input id="youremail" name="youremail" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="subject">Subject</label>  
  <div class="col-md-6">
  <input id="subject" name="subject" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="message">Message</label>
  <div class="col-md-6">                     
    <textarea class="form-control" id="message" name="message"></textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>
